@model MVC.Models.Entities.PaqueteModel

@{
    ViewBag.Title = "Paquete";
}

<h2>Crear paquete</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaEntrega, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaEntrega, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Remitente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(x => x.Remitente, new SelectList(ViewBag.ClientesRemitentes, "Id", "Nombre"), htmlAttributes: new { @class = "form-control", id = "IdAgencia" })
                @Html.ValidationMessageFor(x => x.Remitente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Destinatario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(x => x.Destinatario, new SelectList(ViewBag.ClientesDestinatarios, "Id", "Nombre"), htmlAttributes: new { @class = "form-control", id = "IdAgencia" })
                @Html.ValidationMessageFor(x => x.Destinatario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Trayecto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownListFor(x => x.Trayecto, new SelectList(ViewBag.Trayectos, "Id", "Nombre"), htmlAttributes: new { @class = "form-control", id = "IdAgencia" })
                @Html.ValidationMessageFor(x => x.Trayecto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirmar" class="btn btn-success" />
                <a href="/Paquete" class="btn btn-primary">Volver</a>
            </div>
        </div>
    </div>
}