@model MVC.Models.Entities.PaqueteModel

@{
    ViewBag.Title = "Paquete";
}

<h2>Detalles de paquete</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index")
</p>
