@model IEnumerable<MVC.Models.Entities.PaqueteModel>

@{
    ViewBag.Title = "Paquetes";
}

<h2>Reporte de Paquetes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th>
            Remitente
        </th>
        <th>
            Destinatario
        </th>
        <th>
            Hora de Entrega
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remitente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destinatario.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraDeEntrega)
        </td>
    </tr>
}

</table>
